<div class="btn-function btn-group-2 text-center">
    <button type="button" class="btn {{menuActive('/master/employee')}}" ng-click="goto('master/employee')">ユーザーマスタ</button>
    <button type="button" class="btn {{menuActive('/master/agency')}}" ng-click="goto('master/agency')">代理店マスタ</button>
    <button type="button" class="btn {{menuActive('/master/oamachine')}}" ng-click="goto('master/oamachine')">OA機器マスタ</button>
    <button type="button" class="btn {{menuActive('/master/common')}}" ng-click="goto('master/common')">汎用マスタ</button>
</div>