<div class="main">
    <div class="content">
    	<div class="cartoption">		
			<div class="cartpage">
			    	<h2>Your Cart</h2>
						<table class="tblone">
							<tr>
								<th width="20%">Product Name</th>
								<th width="10%">Image</th>
								<th width="15%">Price</th>
								<th width="25%">Quantity</th>
								<th width="20%">Total Price</th>
								<th width="10%">Action</th>
							</tr>
							<tr ng-repeat="item in allCart">
								<td>{{ item.productName }}</td>
								<td><img ng-src="{{app.imgUrl}}{{item.image}}" alt=""/></td>
								<td>Tk. {{item.price}}</td>
								<td>
									<form action="" method="post">
										<input type="text" ng-model="item.quantity"/>
										<input type="button" name="submit" ng-click="updateCart($index);" value="Update"/>
									</form>
								</td>
								<td>{{item.price * item.quantity }}</td>
								<td><a href="">X</a></td>
							</tr>
						</table>
						<table style="float:right;text-align:left;" width="40%">
							<tr>
								<th>Sub Total : </th>
								<td>{{ subTotal(); }}</td>
							</tr>
							<tr>
								<th>VAT : </th>
								<td>10%</td>
							</tr>
							<tr>
								<th>Grand Total :</th>
								<td>{{ grandTotal(); }}</td>
							</tr>
					   </table>
					</div>
					<div class="shopping">
						<div class="shopleft">
							<a href="{{app.baseUrl}}"> <img ng-src="{{app.imgUrl}}shop.png" alt="" /></a>
						</div>
						<div class="shopright">
							<a href="{{app.baseUrl}}signin"> <img ng-src="{{app.imgUrl}}check.png" alt="" /></a>
						</div>
					</div>
    	</div>  	
       <div class="clear"></div>
    </div>
 </div>
</div>