<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#0">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            HOUSEHOLDS
          </a>
        </h4>
      </div>
      <div id="0" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li>
              <a href="./public/shop/guess_6.html">GUESS</a>
            </li>
            <li>
              <a href="./public/shop/dior_13.html">DIOR</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#1">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            FASHION
          </a>
        </h4>
      </div>
      <div id="1" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li>
              <a href="./public/shop/fendi_15.html">FENDI</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#2">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            KIDS
          </a>
        </h4>
      </div>
      <div id="2" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li>
              <a href="./public/shop/puma_7.html">PUMA</a>
            </li>
            <li>
              <a href="./public/shop/asics_8.html">ASICS</a>
            </li>
            <li>
              <a href="./public/shop/fendi_14.html">FENDI</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#3">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            WOMENS
          </a>
        </h4>
      </div>
      <div id="3" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li>
              <a href="./public/shop/under-armour_17.html">UNDER ARMOUR</a>
            </li>
            <li>
              <a href="./public/shop/adidas_18.html">ADIDAS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#4">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            MENS
          </a>
        </h4>
      </div>
      <div id="4" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li>
              <a href="./public/shop/valentino_10.html">VALENTINO</a>
            </li>
            <li>
              <a href="./public/shop/nike_16.html">NIKE</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#5">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            SPORTSWEAR
          </a>
        </h4>
      </div>
      <div id="5" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li>
              <a href="./public/shop/dior_11.html">DIOR</a>
            </li>
            <li>
              <a href="./public/shop/valentino_12.html">VALENTINO</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--/category-products-->

  <div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    <div class="brands-name">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="./public/brand/metabo_6"> <span class="pull-right">(1)</span>Metabo</a></li>
        <li><a href="./public/brand/klein_5"> <span class="pull-right">(1)</span>Klein</a></li>
        <li><a href="./public/brand/cst_4"> <span class="pull-right">(2)</span>CST</a></li>
        <li><a href="./public/brand/apex_3"> <span class="pull-right">(2)</span>Apex</a></li>
        <li><a href="./public/brand/ideal_2"> <span class="pull-right">(11)</span>Ideal</a></li>
        <li><a href="./public/brand/husq_1"> <span class="pull-right">(14)</span>Husq</a></li>
      </ul>
    </div>
  </div>
  <!--/brands_products-->

  <div class="shipping text-center">
    <!--shipping-->
    <img src="{{app.imgUrl}}home/shipping.jpg" alt="" />
  </div>
  <!--/shipping-->

</div>